/* @import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap"); */

urdu {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal; 
}

h1 {
  text-align: center;
  color: brown;
}

h2 {
  text-align: left;
  color: blue;
    
}

p{
    text-align: right;
}

.paragraph {
  width: 300px;
  color: navy;
  font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
.hello{
  width: 300px;
  color: navy;
  text-align: left;
}
.hy{
  width: 300px;
  color: navy;
  text-align: center;
}
marquee{
  background-color: blueviolet;
  height: 30px;
  
}